@use "../theme/themes";
@use "../base/base" as *;


.body__contact
{
	overflow: hidden;

	#contact--form
	{
		display: flex;
	}

	#overlay
	{
		background: var( --overlay );
		display   : block;
		height    : 100%;
		left      : 0;
		opacity   : .4;
		position  : fixed;
		top       : 0;
		width     : 100%;
		z-index   : 19;
	}
}


#overlay
{
	display: none;
}


#contact--form
{
	background-color: var( --color-bg );
	display         : none;
	flex-direction  : column;
	height          : 100vh;
	left            : 0;
	padding         : 1rem;
	position        : fixed;
	top             : 0;
	width           : 100vw;
	z-index         : 20;
	overflow        : scroll;
	font-size       : 1.5rem;


	label
	{
		display      : block;
		margin-bottom: .5rem;
	}


	  > input
	, > textarea
	{
		position: relative;
		padding : .7rem;
	}


	> #contact--close
	{
		background: none;
		border    : none;
		color     : var( --alt-txt );
		position  : absolute;
		right     : 1rem;
		top       : 1.5rem;
		cursor    : pointer;

		> img
		{
			filter: var( --contact-close );
			width : 1.2rem;
		}
	}


	> h1
	{
		font-size  : 2.2rem;
		font-weight: normal;
		margin     : .2rem 1rem 0 0;
	}


	#contact--name
	{
		margin-bottom: 2rem;
	}


	> input
	{
		border       : none;
		border-radius: .3rem;
		font-size    : 1.3rem;
		margin-bottom: 1rem;
		width        : 100%;
	}


	> textarea
	{
		border       : none;
		border-radius: .3rem;
		flex-grow    : 1;
		resize       : none;
		width        : 100%;
		min-height   : 4rem;
	}


	#contact--submit
	{
		background   : var( --primary );
		border       : none;
		border-radius: .3rem;
		color        : var( --alt-txt );
		cursor       : pointer;
		display      : block;
		font-size    : 1.1rem;
		font-weight  : bold;
		padding      : .5rem 3rem;
		width        : initial;
		margin       : 1.5rem auto;
	}
}


@media( min-width: $three-columns )
{
	#contact--form
	{
		border-radius: .4rem;
		font-size    : 2.2rem;
		left         : 50%;
		max-width    : 42rem;
		overflow     : auto;
		padding      : 1.2rem 2rem;
		position     : fixed;
		transform    : translateX( -50% );
		top          : 5vh;
		bottom       : 5vh;
		height       : auto;


		> #contact--close
		{
			padding: 1rem;

			> img
			{
				width : 2.5rem;
			}
		}


		h1
		{
			font-size: 4rem;
			margin-top: 0;
		}


		#contact--name
		{
			margin-bottom: 1.5rem;
		}


		label
		{
			margin: 0;
		}


		  input
		, textarea
		{
			padding      : 1.2rem;
			margin-bottom: .6rem;
		}


		textarea
		{
			min-height: 7rem;
		}


		#contact--submit
		{
			border-radius: .3rem;
			font-size    : 1.2rem;
			margin       : 2rem 0;
			padding      : 1.5rem;
			width        : 10rem;
		}
	}
}
