@use "../theme/themes";
@use "../base/base" as *;


#sort
{
	--left:  7rem; // The distance from the left for the button and ul.
	--top : -1rem;

	display      : none;
	font-size    : 1.2rem;
	font-weight  : bold;
	margin-bottom: 4rem;
	padding      : 0;
	white-space  : nowrap;
	position     : relative;
}


#sort--button
{
	display    : block;
	font-weight: bold;
	position   : absolute;
	border     : none;
	padding    : 1.5rem 1.5rem;
	text-align : left;
}


	// The arrow.
	//
  #sort--button:before
, #sort--listbox > li:first-child:before
{
	border       : .245rem solid var( --alt-txt );
	border-bottom: none;
	border-left  : none;
	content      : " ";
	display      : inline-block;
	height       : .6rem;
	position     : absolute;
	right        : 1.6rem;
	top          : 1.6rem;
	transform    : rotate( 135deg );
	width        : .6rem;
}

#sort--listbox > li:first-child:before
{
	transform: rotate( -45deg );
	top: 1.3rem;
	right: .9rem;
}


  #sort--listbox
, #sort--button
{
	background-color: var( --primary );
	border-radius   : .4rem;
	color           : var( --alt-txt );
	width           : 11rem;
	position        : absolute;
	top             : var( --top  );
	left            : var( --left );
}


#sort--listbox
{
	box-shadow : 0px 6px 18px -14px #000000;
	cursor     : pointer;
	list-style : none;
	user-select: none;
	z-index    : 1;
	display    : none;
	margin     : 0;
	padding    : .6rem;

	> li
	{
		border-top: 1px solid var( --alt-txt );
		display   : none;
		padding   : .9rem;
		position  : relative;


		&:first-child
		{
			border : none;
		}


		// the focus ball
		//
		&:after
		{
			top      : 50%;
			transform: translateY( -50% );
			left     : 0;
		}
	}


	.dropdown__open &
	{
		> li
		{
			display: block;
		}


	}
}


.dropdown__open
{
	#sort--button
	{
		display: none;
	}

	#sort--listbox
	{
		display: block;
	}

	#sort--button:before
	{
		top      : 1.8rem;
		transform: rotate( -45deg );
	}
}



@media( min-width: $three-columns )
{
	#sort
	{
		display: block;
	}
}

