@font-face
{
	font-family : DMSans;
	font-style  : normal;
	font-weight : normal;
	src         : url( "../theme/font/DM_Sans/DMSans-Regular.ttf" );
}

@font-face
{
	font-family : DMSans;
	font-style  : normal;
	font-weight : 600;
	src         : url( "../theme/font/DM_Sans/DMSans-Medium.ttf" );
}

@font-face
{
	font-family : DMSans;
	font-style  : normal;
	font-weight : bold;
	src         : url( "../theme/font/DM_Sans/DMSans-Bold.ttf" );
}

