.theme-light
{
	--alt-bg       : #525252;
	--alt-txt      : #fafafa;
	--alt-txt90    : rgba( 250, 250, 250, .9);
	--border       : #c4c4c4;
	--color-bg     : #db8876;
	--main-bg      : white;
	--main-bg90    : rgba(255, 255, 255, .9);
	--overlay      : grey;
	--price        : #757575;
	--primary      : #901c1c;
	--secondary    : #d3573c;
	--accent       : #76dbbe;

	// this will color an svg image. Use with filter css prop.
	// Magic comes from: https://codepen.io/sosuke/pen/Pjoqqp
	//
	--contact-close: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(78deg) brightness(108%) contrast(107%);
	--heart-color  : invert(14%) sepia(98%) saturate(1883%) hue-rotate(346deg) brightness(103%) contrast(93%);
}
