@use "../base/base" as *;
@use "../component/tags";
@use "../component/portrait";



.thumb
{
	margin: .8rem 0 0;

	picture
	{
		position: relative;
		height  : 12rem;
		display : block;
	}

	.media-content
	{
		height         : 12rem;
		border-radius  : .3rem;
		object-fit     : cover;
		object-position: 50% 35%;
		width          : 100%;
		cursor         : pointer;
	}

	> figcaption
	{
		color          : var( --primary );
		display        : flex;
		justify-content: space-between;
		margin-top     : .5rem;
	}


	.likes
	{
		white-space: nowrap;
	}


	.heart
	{
		cursor     : pointer;
		position   : relative;
		width      : .8rem;
		margin-left: .2rem;
		display    : inline-block;

		img
		{
			filter     : var( --heart-color );
		}
	}
}


.carousel
{
	--button-size  : .7rem;
	--button-size_2: calc( var(--button-size) *2 );
	--button-size_3: calc( var(--button-size) *3 );

	margin : auto;
	display: grid;

	grid:

		"...                    media                  close"                45fr // row heights to get buttons in the middle of the image.
		"prev                   media                  next "                55fr

		/ var(--button-size_3)  var(--carousel-width)  var(--button-size_3)
	;


	button
	{
		background : none;
		border     : none;
		color      : var( --primary );
		cursor     : pointer;
		font-weight: bold;
		padding    : .5rem;
		max-width  : var(--button-size_3);
		position   : relative;


		// focus ball
		//
		&::after
		{
			top : 0    ;
			left: .5rem;
		}


		> img
		{
			width: var( --button-size );
		}
	}


	.prev
	{
		grid-area : prev;
		align-self: start;

		> img
		{
			transform: rotate( 180deg );
		}
	}

	.next
	{
		grid-area : next;
		align-self: start;
	}

	.close
	{
		grid-area: close;
		align-self: start;

		> img
		{
			width: calc( var( --button-size ) * 1.3 );
		}
	}

	> figure
	{
		grid-area: media;
		margin   : 0;
		width    : 100%;

		> .media-content
		{
			// variable carousel-width are set by javascript in gallery.ts:imgResize.
			//
			width     : var( --carousel-width );
			object-fit: contain;
		}

		> figcaption
		{
			color      : var( --primary );
			padding-top: .5rem;
		}
	}




}


@media( min-width: $three-columns )
{
	.gallery
	{
		margin-bottom: 4rem;
	}


	.gallery--content
	{
		display: grid;

		row-gap: 2.5rem;
		column-gap: min( 6.6vw, 8rem );

		grid-template-columns: minmax(0, 33%) minmax(0, 33%) minmax(0, 33%);


		.thumb
		{
			margin: 0;

			  picture
			, .media-content
			{
				height       : min( 20vw, 24rem );
				border-radius: .4rem;
			}


			> figcaption
			{
				font-size: 1.2rem;
				margin-top: 1rem;

				.heart
				{
					width: 1rem;
				}
			}
		}
	}


	.carousel
	{
		--button-size  : 2rem;
		--button-size_2: calc( var(--button-size) *1.3 );

		figcaption
		{
			font-size  : 1.5rem;
			padding-top: 1rem;
		}
	}
}
