/*
	CSS style for FishEye. Openclassrooms course Front-End Developer, project 6.
	Written by Tycho Dekie ( oo <on> mailoo.org ).

	License: Unlicense (https://unlicense.org/);

	Doesn't validate in the W3C validator because the validator is outdated:
	See https://github.com/w3c/css-validator/issues/111
 */

@use "../vendor/normalize-v8.0.1.css";
@use "../base/base" as *;
@use "../theme/themes";
@use "../theme/font";
@use "../layout/profile-summary";


body
{
	display       : grid;
	max-width     : 100vw;
	grid-auto-flow: row;
	padding       : 1rem .5rem;

	grid:

		"logo nos "
		"tags tags"
		/50%  50%
	;

}


  header
, main
, #profiles
{
	display: contents;
}


.logo
{
	grid-area  : logo;
	max-width  : 100%;
	width      : 9.5rem;
}


.nos
{
	align-self  : center;
	color       : var( --primary );
	font-size   : .9rem;
	font-weight : normal;
	grid-area   : nos;
	text-align  : right;
}


header > nav
{
	grid-area: tags;


	.tags
	{
		justify-content: center;
		margin-top     : 1.7rem;
		text-transform : capitalize;
	}
}


.profile-summary
{
	grid-column-end: span 2;
	max-width      : 100vw;
	margin-top     : 1.3rem;
}


#contenu-link
{
	display: none;
}


@media ( min-width: $iphone )
{
	body
	{
		padding: 2.5rem 1rem;
	}
}


@media ( min-width: $three-columns ) // roughly 1200px
{
	html
	{
		max-width: 1440px;
		margin   : 0 auto;
	}

	body
	{
		padding  : 2.5rem 3rem;

		grid:

			"logo tags nos"
			"prof prof prof"
		;
	}


	.logo
	{
		margin-left: min( 3.3vw, 3rem );
		width: 14rem;
	}


	nav > .tags
	{
		margin: 1rem;
	}


	.nos
	{
		align-self  : start;
		font-size   : 2.3rem;
		font-weight : normal;
		margin      : 0;
		margin-right: min( 5.5vw, 5rem );
	}


	#profiles
	{
		display              : grid;
		gap                  : 2rem;
		grid-area            : prof;
		grid-template-columns: 33% 33% 33%;
		justify-content      : space-evenly;
		margin-top           : 2rem;
	}


	.profile-summary
	{
		grid-column-end: unset;
	}


	#contenu-link
	{
		background-color: var( --color-bg );
		border-radius   : .4rem;
		display         : block;
		font-size       : 1.1rem;
		font-weight     : bold;
		left            : 50%;
		padding         : .3rem .5rem;
		position        : fixed;
		top             : .3rem;
		transform       : translateX( -50% );
		z-index         : 2;
	}
}



